/* 


https://coolors.co/000807-6b6f70-8fbdc6-b7d5da-f1f7f8 <- with grey
https://coolors.co/000807-1c2622-8fbdc6-b7d5da-c6cbcb <- with green

*/

/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #f4f4f4;;
    color: #555;
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

body {
    width: 100%;
    background-color: #8FBDC6;
}

#body-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.05)), url(img/background-home.jpg);
    /*    background-image: linear-gradient(rgba(143, 189, 198, 0.73), rgba(0, 0, 0, 0.05)), url(img/background-home.jpg);*/
    background-attachment: fixed;
    background-size: cover;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

::selection{
    background: rgba(69, 77, 74, 0.7); 
    color: #eaeaea;
}

::-moz-selection {
  background: rgba(69, 77, 74, 0.7); /* Gecko Browsers */
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */


.row {
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
}

.outer-border {
    border: double 9px rgba(163, 201, 208, 0.50);
    margin: 0 70px;
}
.inner-border {
    border: double 9px rgba(163, 201, 208, 0.85);
    margin: 15px;
    padding: 65px;
}

.box {
    padding: 1%;
}

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.aux-body header {
    height: 15vh;
}

.aux-body section {
    margin-bottom: 75px;
    margin-top: 45px;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
    font-weight: 300;
}

h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #fff;
    font-size: 300%;
    word-spacing: 4px;
    letter-spacing: 5px;
    display: inline-block;
}

h2 {
    margin-bottom: 45px;
    font-size: 200%;
    letter-spacing: 3px;    
    text-align: center;
}

p {
    line-height: 155%;
}

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 13px 40px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 10px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    background-color: #919191;
    color: #fff;
    margin: 0 30px;
}

.btn:hover,
.btn:active{
    background-color: #32496d;
}


/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
    text-shadow: 2px 2px #32496d;
}

/* Main nav */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 80px;
}

.main-nav li {
    display: inline-block;
    margin-left: 30px;
    margin-top: 3px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 3px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.nav-home li a:hover,
.nav-home li a:active {
    border-bottom: 2px solid #8fbdc6;
}

.nav-aux li a:hover,
.nav-aux li a:active {
    border-bottom: 2px solid #32496d;
}

/* Sticky nav */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #8b8b8b;
    box-shadow: 0 2px 2px #6f6f6f;
    z-index: 9999;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sticky h1 {
    margin: 0;
}

.sticky .main-nav { margin-top: 18px; }

.sticky .main-nav li {
    margin-top: 15px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
}

.sticky .logo { display: none; }
.sticky .logo-black { display: block; }

/*-----------------------------------------------------------------*/
/* FOOTER  */
/*-----------------------------------------------------------------*/

footer {
    background-color: #1C2622;
    padding: 50px;
    font-size: 80%;
}

.social-links {
    list-style: none;
}

.social-links li {
    display: inline-block;
    margin-right: 45px;
    float: right;
    
}

.social-links li:first-child {
    margin-right: 0;
}

.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-transition: color 0.3s;
    padding: 12px;
    transition: transform 0.3s;
    text-shadow: 2px 2px #32496d;
}

.social-home li a:link,
.social-home li a:visited {
    transition: color 0.3s;
    color: #c1c1c1;
}

.social-aux li a:link,
.social-aux li a:visited {
    transition: color 0.3s;
    color: #1C2622;
    background-color: #555;
    text-shadow: 2px 2px #555;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 250%;
}

.social-links li a:hover,
.social-links li a:active {
    
    transform: scale(1.2);
    transition: transform 0.35s;
}

.social-home li a:hover,
.social-home li a:active {
    color: #fff;
}

.social-aux li a:hover,
.social-aux li a:active {
    color: #c1c1c1;
}

.footer-text {
    padding-top: 12px;
    display: inline-block;
}

/*-----------------------------------------------------------------*/
/* HOME  */
/*-----------------------------------------------------------------*/

#body-home header {
    height: 20vh;
}

#body-home section {
   height: 65vh;  
}

#body-home footer {
    height: 15vh;
    background: none;
    bottom: 0;
}

/*-----------------------------------------------------------------*/
/* LIVE  */
/*-----------------------------------------------------------------*/

.live-box {
    text-align: center;
}

/*-----------------------------------------------------------------*/
/* PHOTOS  */
/*-----------------------------------------------------------------*/

.vertical-photo {
    width: 100%;
    height: auto;
}

.horizontal-photo {
    width: 100%;
    height: auto;
}

#picture-modal {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    overflow: auto;
    text-align: center;
    z-index: 1;
    display: none;
    transition: all 2s linear;  
}

/* have a different class for vert/horiz vs height and width. make height ~75% for vertical and width ~40% for horizontal */

#picture-modal img {
    width: 50%;
    height: auto;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 1;
}

.masonry-grid {
    column-count: 3;
    column-gap: .5em; 
}

.grid-item  {
    display: inline-block;
    z-index: 2;
    margin-bottom: 10px;
}

.temme-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.temme-photo img {
    opacity: 0.75;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.temme-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
}

/*-----------------------------------------------------------------*/
/* VIDEOS  */
/*-----------------------------------------------------------------*/

.video-box { 
    text-align: center;
}

.video-box iframe {
    margin-bottom: 60px;
    width: 90%;
    height: 400px;
    transition: transform 0.2s;
}

.video-box iframe:last-child{
    margin-bottom: 0;
}

.video-box iframe:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    transition: transform 0.2s;
}

/*-----------------------------------------------------------------*/
/* LISTEN  */
/*-----------------------------------------------------------------*/

.listen-box { 
    text-align: center;
}

.listen-box .row img {
    width: 60%;
    height: auto;
    margin-bottom: 30px;
}

/*-----------------------------------------------------------------*/
/* BIO  */
/*-----------------------------------------------------------------*/

.bio-box {
    line-height: 145%;
}

.bio-box p {
    padding: 25px;
}
