/* 


https://coolors.co/000807-6b6f70-8fbdc6-b7d5da-f1f7f8 <- with grey
https://coolors.co/000807-1c2622-8fbdc6-b7d5da-c6cbcb <- with green

*/

/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

body {
    width: 100%;
    background-color: #8FBDC6;
}

#body-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.05)), url(img/background-home.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.content {
    /*border: double 9px #8FBDC6;*/
    /*margin: 0 50px 50px 50px;*/
    /*background-color: #CBCBCB;*/
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

::selection{
  background: rgba(69, 77, 74, 0.7); 
}

::-moz-selection {
  background: rgba(69, 77, 74, 0.7); /* Gecko Browsers */
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */


.row {
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
}

.line-border-outer {
    border: double 9px rgba(143, 189, 198, 0.8);;
}
.line-border-inner {
    border: double 9px rgba(143, 189, 198, 0.5);
    padding: 2% 4%;
    margin: 0.75%;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.title {
    text-align: center;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
    font-weight: 300;
}

h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #fff;
    font-size: 300%;
    word-spacing: 4px;
    letter-spacing: 5px;
    display: inline-block
}

p {
    line-height: 135%;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
    text-shadow: 2px 2px #32496d;
}

/* Main navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 80px;
}

.main-nav li {
    display: inline-block;
    margin-left: 30px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 3px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.nav-home li a:hover,
.nav-home li a:active {
    border-bottom: 2px solid #8fbdc6;
}

.nav-aux li a:hover,
.nav-aux li a:active {
    border-bottom: 2px solid #32496d;
}

/*-----------------------------------------------------------------*/
/* FOOTER  */
/*-----------------------------------------------------------------*/

footer {
    background-color: #1C2622;
    padding: 50px;
    font-size: 80%;
}

.social-links {
    list-style: none;
}

.social-links li {
    display: inline-block;
    margin-right: 45px;
    float: right;
    
}

.social-links li:first-child {
    margin-right: 0;
}

.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-transition: color 0.3s;
    padding: 12px;
    transition: transform 0.3s;
    text-shadow: 2px 2px #32496d;
}

.social-home li a:link,
.social-home li a:visited {
    transition: color 0.3s;
    color: #c1c1c1;
}

.social-aux li a:link,
.social-aux li a:visited {
    transition: color 0.3s;
    color: #1C2622;
    background-color: #555;
    text-shadow: 2px 2px #555;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 250%;
}

.social-links li a:hover,
.social-links li a:active {
    
    transform: scale(1.2);
    transition: transform 0.35s;
}

.social-home li a:hover,
.social-home li a:active {
    color: #fff;
}

.social-aux li a:hover,
.social-aux li a:active {
    color: #c1c1c1;
}

.footer-text {
    padding-top: 12px;
    display: inline-block;
}

/*-----------------------------------------------------------------*/
/* HOME  */
/*-----------------------------------------------------------------*/

#body-home header {
    height: 20vh;
}

#body-home section {
   height: 65vh;  
}

#body-home footer {
    height: 15vh;
    background: none;
    bottom: 0;
}

/*-----------------------------------------------------------------*/
/* PHOTOS  */
/*-----------------------------------------------------------------*/

.vertical-photo {
    
}

.horizontal-photo {
    
}

/*-----------------------------------------------------------------*/
/* BIO  */
/*-----------------------------------------------------------------*/

.bio-box {
    line-height: 135%;
    padding: 0 5%;
    height: 100%;
}